######################################################
# Base extension file
# 	Extensions can only be applied to device classes
#   After a extension is included, the class and all its subclasses are extended
######################################################
# use annotation in extention classes and import module directly
- chorus.extension.linux
